.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  min-height: 100vh;
}

.app-container {
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  max-width: 800px;
}
